.generaltable {
    width: 100%;
    border-collapse: collapse;
    font-size: 14px;
    text-align: left;
}

.generaltable thead tr.headerrow {
    background-color: #2980b9; /* Color de fondo para el encabezado */
    color: #ffffff; /* Color del texto en el encabezado */
}

.generaltable th, .generaltable td {
    padding: 8px 12px;
    border: 1px solid #dddddd; /* Línea divisoria entre celdas */
}

.generaltable tbody tr:nth-of-type(even) {
    background-color: #f3f3f3; /* Color de fondo para filas pares */
}

.generaltable tbody tr:nth-of-type(odd) {
    background-color: #ffffff; /* Color de fondo para filas impares */
}